@{
    var serviceName = @ViewData["serviceName"];
    var description = @ViewData["description"];
}

@model FastServices.Web.ViewModels.Orders.OrderInputModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- LINEAR ICONS -->
    <link rel="stylesheet" href="/Template/OrderForm/fonts/linearicons/style.css">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/Template/OrderForm/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="/Template/OrderForm/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/Template/OrderForm/css/style.css">

</head>

<style>
    .validation-summary-errors ul {
        list-style: none;
        margin-bottom: 1em;
        font-size: 14px;
        font-family: Bahnschrift;
    }

    h2 {
        font-family: Impact;
        color: #3e91f7;
    }
</style>

<div class="topImageNav">

    <h1 class="titleText"> @serviceName.ToString()?.ToUpperInvariant() </h1>

</div>

<hr />

<div class="row">


    <div class="col-8">
        <div class="col-6">
            <h2>WHY CHOOSE US?</h2>
        </div>

        <hr />

        <h4>@description.ToString()</h4>
        <hr />
        <h2>FAQ</h2>
    </div>

    <div class="col-4">


        @* <ORDER POST *@

        <form method="post" class="formOrder">
            <h3>ORDER NOW!</h3>
            <div style="text-align:left" asp-validation-summary="All" class="text-danger"></div>
            <div class="form-wrapper">
                <label for="">Service</label>
                <input disabled="disabled" type="text" class="form-control" value="@serviceName">
            </div>
            <div class="form-wrapper">
                <label for="">Address</label>
                <input asp-for="Address" class="form-control" type="text" placeholder="Enter your address">
            </div>
            
            <div class="form-wrapper">
                <label for="">Date</label>
                <span class="lnr lnr-calendar-full"></span>
                <input asp-for="DateDate" placeholder="Pick the date you want us to come" type="text" class="form-control datepicker-here" data-language="en" data-date-format="dd M yyyy" id="dp1">
            </div>
            <div class="form-wrapper">
                <label for="">Date hour</label>
                <select asp-for="DateHour" class="form-control">
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 AM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                </select>
                <i class="zmdi zmdi-chevron-down"></i>
            </div>
            <div class="form-wrapper">
                <label for="">Hours booked</label>
                <select asp-for="HoursBooked" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <i class="zmdi zmdi-chevron-down"></i>
            </div>
            <div class="form-wrapper">
                <label for="">Workers</label>
                <select asp-for="WorkersCount" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <i class="zmdi zmdi-chevron-down"></i>
            </div>
            <button class="buttonOrder" type="submit" data-text="Now">
                <span>Order</span>
            </button>
        </form>


        @* </ORDER POST *@

    </div>

</div>


<!-- DATE-PICKER -->
<script src="/Template/OrderForm/vendor/date-picker/js/datepicker.js"></script>
<script src="/Template/OrderForm/vendor/date-picker/js/datepicker.en.js"></script>

@*<script src="/Template/OrderForm/js/main.js"></script>*@

