<meta charset="utf-8" />
@using FastServices.Data.Models
@using Microsoft.AspNetCore.Identity
@using FastServices.Common

@model FastServices.Web.ViewModels.Comments.CommentsMasterModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(this.User);
}

<style>
    .validation-summary-errors ul {
        list-style: none;
        padding-left: 1em;
        margin-bottom: 1em;
        font-size: 14px;
        font-family: Bahnschrift;
    }

    .commentSection {
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /*STARS CSS*/
    .star-rating {
        font-size: 0;
    }

    .star-rating__wrap {
        display: inline-block;
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: 16.6%;
    }

        .star-rating__wrap:after {
            content: "";
            display: table;
            clear: both;
        }

    .star-rating__ico {
        float: right;
        padding-left: 2px;
        cursor: pointer;
        color: #FFB300;
    }

        .star-rating__ico:last-child {
            padding-left: 0;
        }

    .star-rating__input {
        display: none;
    }

        .star-rating__ico:hover:before,
        .star-rating__ico:hover ~ .star-rating__ico:before,
        .star-rating__input:checked ~ .star-rating__ico:before {
            content: "\f005";
        }
    /*STARS CSS END*/

    .mt-100 {
        margin-top: 2em
    }

    .mb-100 {
        margin-bottom: 100px
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card .card-title {
        position: relative;
        font-weight: 600;
        margin-bottom: 10px;
        cursor: text;
        font-family: Bahnschrift;
    }

    .comment-widgets {
        position: relative;
        margin-bottom: 10px;
    }

        .comment-widgets .comment-row {
            border-bottom: 1px solid transparent;
            padding: 14px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 10px 0;
        }

    .p-2 {
        padding: 0.5rem !important;
    }

    .comment-text {
        padding-left: 15px;
        font-weight: 200;
        font-family: Bahnschrift;
    }

    .w-100 {
        width: 100% !important
    }

    .m-b-15 {
        margin-bottom: 15px
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.76563rem;
        line-height: 1.5;
        border-radius: 1px
    }

    .btn-cyan {
        color: #fff;
        background-color: #27a9e3;
        border-color: #27a9e3
    }

        .btn-cyan:hover {
            color: #fff;
            background-color: #1a93ca;
            border-color: #198bbe
        }

    .comment-widgets .comment-row:hover {
        background: rgba(0, 0, 0, 0.05)
    }
</style>

<div class="col-lg-8">
    <div style="width:160%" class="card">
        <div class="card-body text-center">
            <h4 class="card-title">Latest comments for @ViewData["depName"].ToString().ToLower() department</h4>
        </div>

        <form asp-controller="Comments" asp-action="AddComment" method="post">
            <input style="visibility:hidden" name="DepartmentId" value="@Context.Request.Query["id"]" />

            @*@if (ViewContext.HttpContext.Request.Query["error"] == "not-allowed")
                {
                    <partial data="@this.TempData["Message"]" name="/Views/Shared/_ErrorPopup.cshtml"/>
                }*@

            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <div class="star-rating">
                    <div class="star-rating__wrap">

                        <input style="visibility:hidden;position:absolute;" id="Stars" type="text" name="Stars" value="1" />

                        <input onclick="getResult()" class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                    </div>
                </div>

                <script>
                    function getResult() {

                        var result = 0;

                        if (document.getElementById('star-rating-5').checked) {
                            result = document.getElementById('star-rating-5').value;
                        }
                        else if (document.getElementById('star-rating-4').checked) {
                            result = document.getElementById('star-rating-4').value;
                        }
                        else if (document.getElementById('star-rating-3').checked) {
                            result = document.getElementById('star-rating-3').value;
                        }
                        else if (document.getElementById('star-rating-2').checked) {
                            result = document.getElementById('star-rating-2').value;
                        }
                        else if (document.getElementById('star-rating-1').checked) {
                            result = document.getElementById('star-rating-1').value;
                        }

                        document.getElementById("Stars").value = result;
                    }
                </script>

                <div style="text-align:left" asp-validation-summary="All" class="text-danger"></div>


                <div style="text-align:center">
                    <textarea asp-for="InputModel.CommentContent" style="width:92%; height:100px" type="text" name="CommentContent"></textarea>
                </div>

                <button style="position:relative; width:50%; left:25%; top:1em" class="btn btn-cyan" type="submit">Submit</button>
            }
            else
            {
                <h1 style="text-align:center">
                    <a style=" color: darkslateblue; font-family: Bahnschrift; font-weight: bolder" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
                    <span style="font-family:Bahnschrift">to leave a comment</span>
                </h1>
            }
        </form>





        <div class="comment-widgets">
            @if (!Model.ViewModel.Any())
            {
                <h4 style="text-align:center; padding-top:1em;font-family:Bahnschrift"><span class="m-b-15 d-block">The comment section for this department is empty</span></h4>
            }
            @foreach (var comment in Model.ViewModel)
            {<!-- Comment Row -->
                <article>
                    <div class="d-flex flex-row comment-row m-t-0 commentSection">
                        <div class="p-2"><img src="@comment.AvatarImgSrc" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text w-75">
                            <h6 class="font-medium" style="font-family:Bahnschrift; font-weight:600">@comment.Name</h6>
                            @for (int i = 0; i < comment.Stars; i++)
                            {
                                <i style="color:#FFB300;" class="fa fa-star" aria-hidden="true"></i>
                            }
                            <span class="m-b-15 d-block">@comment.CommentContent</span>
                            <span style="position:absolute; left:75%" class="text-muted float-right">@comment.CreatedOn</span>
                            <div class="comment-footer">
                                @*<button type="button" class="btn btn-cyan btn-sm">Edit</button>*@

                                @if (user?.Id == comment.UserId ||
this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <form asp-controller="Comments" asp-action="DeleteComment" asp-route-departmentId="@comment.DepartmentId" asp-route-commentId="@comment.CommentId" data-ajax="true" data-ajax-success="deleteItem(this)">
                                        <input style="visibility:hidden; position:absolute" id="departmentId" type="text" name="departmentId" value="@comment.DepartmentId" />
                                        <input style="visibility:hidden;  position:absolute" id="commentId" type="text" name="commentId" value="@comment.CommentId" />
                                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div> <!-- Card -->

    </div>
</div>

<script>
    function deleteItem(form) {
        $(form).parentsUntil("article").remove();

        $(document).ready(function () {

            // show when page load
            toastr.error('@FastServices.Common.GlobalConstants.DeletedCommentPostMessage');
        });
    }

</script>

