@model FastServices.Web.ViewModels.Departments.DepartmentViewModel

<style>

    @*.topImageNav {
        background:
        linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
        url('@ViewData["topImageNavUrl"]');
        background-size: 100%;
        background-attachment: fixed;
        color: white;
        height:30%;
    }*@

    .servicesLink {
        margin-bottom: 3em;
    }

    .imgService {
        height: 150px;
        width: 100%;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }


    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

        .card-title i {
            font-size: 15px;
            transition: 1s;
            cursor: pointer;
            color: #ffa710
        }

            .card-title i:hover {
                transform: scale(1.25) rotate(100deg);
                color: #18d4ca;
            }

</style>

<!-- NAVIGATION BAR BACKGROUND IMAGE DEPENDING ON THE DEPARTMENT -->
<div class="topImageNav">

    <h1 class="titleText"> @ViewData["title"] </h1>

</div>

<div style="margin-bottom:2em" class="row">
    <div class="container mt-2 col-8">
        <div style="margin-bottom: 15.5em" class="row">
            @foreach (var service in @Model.ServicesViewModel)
            {
                <div style="margin-bottom:1em" class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h3 class="card-title text-center">@service.Name</h3>
                        <a asp-controller="Services" asp-action="Service" asp-route-ServiceId="@service.Id"><img class="imgService" src="@service.CardImgSrc"></a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-4">
        <partial model="Model.CommentsMasterModel" name="/Views/Comments/Comments.cshtml" />
    </div>
</div>


