@model Tuple<
        ICollection<FastServices.Web.ViewModels.Departments.ServicesViewModel>,
        FastServices.Web.ViewModels.Departments.OrderModalViewModel>


<style>
    footer{
        position:absolute;
        visibility:hidden;
    }
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }  
    .topImageNav {
        background:
        linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
        url('@ViewData["url"]');
        background-size: 100%;
        background-attachment: fixed;
        color: white;
    }

    .servicesLink {
        margin-bottom: 3em;
    }

    .imgService {
        height: 150px;
        width: 100%;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }


    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

        .card-title i {
            font-size: 15px;
            transition: 1s;
            cursor: pointer;
            color: #ffa710
        }

            .card-title i:hover {
                transform: scale(1.25) rotate(100deg);
                color: #18d4ca;
            }

</style>

<!-- NAVIGATION BAR BACKGROUND IMAGE DEPENDING ON THE DEPARTMENT -->
<div style="height:30%" class="topImageNav">

        <h1 style="text-align: center; padding-top:10%; color:azure;">@ViewData["depName"]</h1>


</div>

    <div class="container mt-2 float-child" style="width:70%">
        <div style="margin-bottom: 15.5em" class="row">
            @foreach (var service in Model.Item1)
            {
                <div style="margin-bottom:1em" class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h3 class="card-title text-center">@service.Name</h3>
                        <img class="imgService" src="@service.CardImgSrc">
                        <partial name="/Views/Departments/MakeOrderPartialView.cshtml" model="Model.Item2" />
                    </div>
                </div>
            }

            @*<div>
            <h5>How many hours would you like to book?</h5>
            <div class="cell small-12">
                <select>
                    <option value="3">3 hours</option>
                    <option value="4">4 hours</option>
                    <option value="5">5 hours</option>
                    <option value="6">6 hours</option>
                    <option value="7">7 hours</option>
                    <option value="8">8 hours</option>
                    <option value="9">9 hours</option>
                    <option value="10">10 hours</option>
                </select>
            </div>
        </div>*@

        </div>

    </div>
    <div class="float-child" style="width:30%"><vc:department-comments id="@Model.Item1.FirstOrDefault().DepartmentId"></vc:department-comments></div>
    