@model FastServices.Web.ViewModels.Departments.DepartmentViewModel

<link rel="stylesheet" type="text/css" href="/css/DepartmentViewCss.css" media="all" />

<div class="topImageNav">
    <h1 class="titleText"> @ViewData["title"] </h1>
</div>

<div style="margin-bottom:2em" class="row">
    <div class="col-md-8">
        <div style="margin-bottom: 2em" class="row">
            @foreach (var service in @Model.ServicesViewModel)
            {
                <div style="margin-bottom:1em" class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h3 class="card-title text-center">@service.Name</h3>
                        <a asp-controller="Services" asp-action="Service" asp-route-ServiceId="@service.Id"><img class="imgService" src="@service.CardImgSrc"></a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-4">
        <partial model="Model.CommentsMasterModel" name="/Views/Comments/Comments.cshtml" />
    </div>
</div>


