<meta charset="utf-8" />
@using FastServices.Data.Models
@using Microsoft.AspNetCore.Identity
@using FastServices.Common

@model FastServices.Web.ViewModels.Comments.CommentsMasterModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(this.User);
}

<link rel="stylesheet" type="text/css" href="~/css/CommentsViewCss.css" media="all" />

<div class="col-xl8"> 
    <div style="width:100%" class="card">
        <div class="card-body text-center">
            <h4 class="card-title comment-heading">Rate and comment</h4>
        </div>

        <form asp-controller="Comments" asp-action="AddComment" method="post">
            <input style="visibility:hidden" name="DepartmentId" value="@Context.Request.Query["depId"]" />

            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <div class="star-rating">
                    <div class="star-rating__wrap">

                        <input style="visibility:hidden;position:absolute;" id="Stars" type="text" name="Stars" value="1" />

                        <input onclick="getResult()" class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                        <input onclick="getResult()" class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                    </div>
                </div>

                <script>
                    function getResult() {

                        var result = 0;

                        if (document.getElementById('star-rating-5').checked) {
                            result = document.getElementById('star-rating-5').value;
                        }
                        else if (document.getElementById('star-rating-4').checked) {
                            result = document.getElementById('star-rating-4').value;
                        }
                        else if (document.getElementById('star-rating-3').checked) {
                            result = document.getElementById('star-rating-3').value;
                        }
                        else if (document.getElementById('star-rating-2').checked) {
                            result = document.getElementById('star-rating-2').value;
                        }
                        else if (document.getElementById('star-rating-1').checked) {
                            result = document.getElementById('star-rating-1').value;
                        }

                        document.getElementById("Stars").value = result;
                    }
                </script>

                <div style="text-align:left" asp-validation-summary="All" class="text-danger"></div>


                <div style="text-align:center">
                    <textarea asp-for="InputModel.CommentContent" style="width:92%; height:100px" type="text" name="CommentContent"></textarea>
                </div>

                <button style="position:relative; width:50%; left:25%; top:1em" class="btn btn-cyan" type="submit">Submit</button>
            }
            else
            {
                <h1 style="text-align:center">
                    <a style=" color: darkslateblue; font-family: Bahnschrift; font-weight: bolder" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
                    <span style="font-family:Bahnschrift">to leave a comment</span>
                </h1>
            }
        </form>





        <div class="comment-widgets">
            @if (!Model.ViewModel.Any())
            {
                <h4 style="text-align:center; padding-top:1em;font-family:Bahnschrift"><span class="m-b-15 d-block">The comment section for this department is empty</span></h4>
            }
            @foreach (var comment in Model.ViewModel)
            {<!-- Comment Row -->
                <article>
                    <div class="d-flex flex-row comment-row m-t-0 commentSection">
                        <image class="avatar" src="@comment.AvatarImgSrc">
                        <div class="comment-text w-75">
                            <h6 class="font-medium" style="font-family:Bahnschrift; font-weight:600">@comment.Name</h6>
                            @for (int i = 0; i < comment.Stars; i++)
                            {
                                <i style="color:#FFB300;" class="fa fa-star" aria-hidden="true"></i>
                            }
                            <span class="m-b-15 d-block">@comment.CommentContent</span>
                            <span style="position:absolute; left:75%" class="text-muted float-right">@comment.CreatedOn</span>
                            <div class="comment-footer">
                                @*<button type="button" class="btn btn-cyan btn-sm">Edit</button>*@

                                @if (user?.Id == comment.UserId ||
                              this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <form asp-controller="Comments" asp-action="DeleteComment" asp-route-departmentId="@comment.DepartmentId" asp-route-commentId="@comment.CommentId" data-ajax="true" data-ajax-success="deleteItem(this)">
                                        <input style="visibility:hidden; position:absolute" id="departmentId" type="text" name="departmentId" value="@comment.DepartmentId" />
                                        <input style="visibility:hidden;  position:absolute" id="commentId" type="text" name="commentId" value="@comment.CommentId" />
                                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div> <!-- Card -->

    </div>
</div>

@{
    var prevDisabled = !Model.ViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ViewModel.HasNextPage ? "disabled" : "";
}

<a asp-controller="Departments" asp-action="Department"
   asp-route-depId="@int.Parse(Model.ViewModel.Select(x => x.DepartmentId).FirstOrDefault().ToString())"
   asp-route-pageNumber="@(Model.ViewModel.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-controller="Departments" asp-action="Department"
   asp-route-depId="@int.Parse(Model.ViewModel.Select(x => x.DepartmentId).FirstOrDefault().ToString())"
   asp-route-pageNumber="@(Model.ViewModel.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

<script>
    function deleteItem(form) {
        $(form).parentsUntil("article").remove();

        $(document).ready(function () {

            // show when page load
            toastr.error('@FastServices.Common.GlobalConstants.DeletedCommentPostMessage');
        });
    }
</script>

