@model IEnumerable<FastServices.Web.ViewModels.Orders.OrderViewModel>

@using FastServices.Common
@using FastServices.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    var btn1 = Context.Request.Query["searchOption"] != "2" ? "active" : "";
    var btn2 = Context.Request.Query["searchOption"] == "2" ? "active" : "";

    if (btn1 == "active")
    {
        btn2 = "";
    }
    if (btn2 == "active")
    {
        btn1 = "";
    }
}
<link rel="stylesheet" type="text/css" href="~/css/OrdersViewCss.css" media="all" />

<div class="topImageNav">
    <div class="slider_banner_info">
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a id="searchBtn1" class="nav-link @btn1" asp-action="All" asp-route-searchOption="1">Active</a>
            </li>
            <li class="nav-item">
                <a id="searchBtn2" class="nav-link @btn2" asp-action="All" asp-route-searchOption="2">Completed</a>
            </li>
        </ul>
    </div>


    @*<BODY*@
    <div class="row">
        @foreach (var order in Model)
        {
            <div class="card" style="width: 18rem; margin-left:1em; margin-bottom: 1em; margin-top: 1em">

                <div style="margin-top: 4px;margin-bottom:7px;">
                    <div class="containercard">
                        <img src="@order.CardImgSrc" style="width:240px;height:150px">
                        <h5 style="font-family:'Copperplate Gothic';  opacity:0.6" class="box_textshadow card-title centeredtext">@order.ServiceName</h5>
                    </div>
                </div>


                @if (order.Status == "Completed" &&
            !this.User.IsInRole(GlobalConstants.EmployeeRoleName))
                {
                    @if (order.HasComplaint)
                    {
                        <p style="font-family:Tahoma; color:darkseagreen;"> @GlobalConstants.ComplaintSubmittedViewMessage</p>
                    }
                    else
                    {
                        <form method="post" asp-controller="Orders" asp-action="AddComplaint">
                            <button style="margin-bottom:-7px;" type="button" class="collapsible btn btn-danger">Add Complaint</button>
                            <div class="content">
                                <div class="form-group shadow-textarea">
                                    <textarea minlength="15" maxlength="300" style="margin-top:5px" name="Description" class="form-control z-depth-1" rows="3" placeholder="Describe your problem..."></textarea>
                                </div>
                                <button class="btn btn-info" name="OrderId" type="submit" value="@order.Id">Submit complaint</button>
                            </div>
                        </form>
                    }

                }
            <ul class="list-group list-group-flush">

                <label>Address</label>
                <li class="list-group-item">@order.Address</li>
                <label>Start date</label>
                <li class="list-group-item">@order.StartDate</li>
                <label>End date</label>
                <li class="list-group-item">@order.DueDate</li>
                <label>Booked hours</label>
                <li class="list-group-item">@order.HoursBooked</li>
                <label>Booked workers</label>
                <li class="list-group-item">@order.WorkersCount</li>
                <label>Status</label>
                <li class="list-group-item">@order.Status</li>
                <label>Price</label>
                <li class="list-group-item">@order.Price<text>$</text></li>
                <label>Payment Method</label>
                <li class="list-group-item">@order.PaymentMethod</li>


                @*User Orders View*@
                @if (!this.User.IsInRole(GlobalConstants.EmployeeRoleName))
                {
                    @if (order.PaymentMethod != "CreditCard" && order.Status == "Active")
                    {
                        <li class="list-group-item">
                            <div>
                                <form asp-controller="Payments" asp-action="Processing" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_51Hwc0FIndBA45SbbXC1AHQ3kLKZ47QaaG4hkw0bmToDGQDBxmwCZE2SdNdGCTd5mckmkd32h4KcQ40gVLQaoOVYO006ykmoxwm"
                                            data-amount="@(order.Price * 100)"
                                            data-name="Pay your order now"
                                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                            data-locale="en"
                                            data-zip-code="true"
                                            data-label="Pay Now">
                                    </script>

                                    <input name="orderId" value="@order.Id" type="text" style="visibility: hidden; position: absolute;" />
                                    <input name="orderPrice" value="@order.Price" type="text" style="visibility: hidden; position: absolute;" />
                                </form>
                            </div>
                        </li>
                    }
                    else if (order.Status == "Active")
                    {
                        <li class="list-group-item">
                            <p style="font-family:Tahoma; color:darkseagreen;"> @GlobalConstants.SuccessPayment</p>
                        </li>
                    }
                }
                @*Employee Orders View*@
                else
                {
                    <label>Bonus</label>
                    <li style="color:green" class="list-group-item">@($"{(decimal)(order.Price * 0.003M):f2}")$</li>
                }


            </ul>
            </div>
        }
    </div>
    @*</BODY*@
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>