@model IEnumerable<FastServices.Web.ViewModels.Orders.OrderViewModel>

@using FastServices.Common
@using FastServices.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    var btn1 = Context.Request.Query["searchOption"] != "2" ? "active" : "";
    var btn2 = Context.Request.Query["searchOption"] == "2" ? "active" : "";

    if (btn1 == "active")
    {
        btn2 = "";
    }
    if (btn2 == "active")
    {
        btn1 = "";
    }
}
<style>
    .topImageNav {
        height: 3.5em;
        background-color: black;
    }
    /* Centered text */
    .centeredtext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .containercard {
        position: relative;
        text-align: center;
        color: white;
    }

    .box_textshadow {
        text-shadow: 2px 2px 0px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    }

    collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<div class="topImageNav">
    <div class="slider_banner_info">
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a id="searchBtn1" class="nav-link @btn1" href="/Orders/All?searchOption=1">Active</a>
            </li>
            <li class="nav-item">
                <a id="searchBtn2" class="nav-link @btn2" href="/Orders/All?searchOption=2">Completed</a>
            </li>
        </ul>
    </div>


    @*<BODY*@
    <div class="row">
        @foreach (var order in Model)
        {
            <div class="card" style="width: 18rem; margin-left:1em; margin-bottom: 1em; margin-top: 1em">

                <div class="card-body">
                    <div class="containercard">
                        <img src="@order.CardImgSrc" style="width:240px;height:150px">
                        <h5 style="font-family:Impact; color:#ffdd99; opacity:0.6" class="box_textshadow card-title centeredtext">@order.ServiceName</h5>
                    </div>
                </div>


                @if (order.Status == "Completed" &&
                !this.User.IsInRole(GlobalConstants.EmployeeRoleName))
                {
                    @if (order.HasComplaint)
                    {
                        <h6 style="font-family:Impact; color:darkgreen"> @GlobalConstants.ComplaintSubmittedViewMessage</h6>
                    }
                    else
                    {
                        <form method="post" asp-controller="Orders" asp-action="AddComplaint">
                            <button style="margin-bottom:7px;" type="button" class="collapsible btn btn-danger">Add Complaint</button>
                            <div class="content">
                                <div class="form-group shadow-textarea">
                                    <textarea minlength="15" maxlength="300" style="margin-top:5px" name="Description" class="form-control z-depth-1" rows="3" placeholder="Describe your problem..."></textarea>
                                </div>
                                <button class="btn btn-info" name="OrderId" type="submit" value="@order.Id">Submit complaint</button>
                            </div>
                        </form>
                    }

                }
                <ul class="list-group list-group-flush">

                    <label>Address</label>
                    <li class="list-group-item">@order.Address</li>
                    <label>Start date</label>
                    <li class="list-group-item">@order.StartDate</li>
                    <label>End date</label>
                    <li class="list-group-item">@order.DueDate</li>
                    <label>Booked hours</label>
                    <li class="list-group-item">@order.HoursBooked</li>
                    <label>Booked workers</label>
                    <li class="list-group-item">@order.WorkersCount</li>
                    <label>Status</label>
                    <li class="list-group-item">@order.Status</li>
                    <label>Price</label>
                    <li class="list-group-item">@order.Price<text>$</text></li>


                </ul>
            </div>
        }
    </div>
    @*</BODY*@
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>