@model ICollection<FastServices.Web.ViewModels.Employees.EmployeeViewModel>



<style>
    .topImageNav {
        height: 3.5em;
        background-color: black;
    }

    footer {
        visibility: hidden;
    }
</style>

<body>
    <div class="topImageNav">
    </div>

    @*GET*@
    <form asp-area="Administration" asp-controller="Employees" asp-action="Employees" method="get">
        <div style="padding-top:1.5em; position:absolute" class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Employees">Back to Full List</a>
            </p>
        </div>
    </form>
    @*/GET*@

    <div>
        <div style="padding-left:40%" class="custom-select-lg">
            <select id="selectChangeView" onchange="changeView(this,'@Url.Action("Employees")')">
                <option disabled="disabled" value="0">Select Option</option>
                <option value="1">All</option>
                <option value="2">Available</option>
                <option value="3">Deleted</option>
            </select>
        </div>
    </div>

    <table class="table table-light table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstN</th>
                <th scope="col">LastN</th>
                <th scope="col">DepartmentN</th>
                <th scope="col">Salary</th>
                <th scope="col">Available</th>
                <th scope="col">Created On</th>
                <th scope="col">DeletedOn</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            @*POST*@
            @foreach (var employee in Model)
            {

                <form asp-area="Administration" asp-controller="Employees" asp-action="Employees" method="post">
                    <tr class="@employee.HtmlClass">
                        <th scope="row">@employee.Id</th>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.DepartmentName</td>
                        <td>@employee.Salary</td>
                        <td>@employee.IsAvailable</td>
                        <td>@employee.CreatedOn</td>
                        <td>@employee.DeletedOn</td>

                        <input type="text" style="visibility:hidden;position:absolute" name="selectedOption" value="@this.TempData["SelectedOption"]" />

                        @if (employee.IsDeleted == true)
                        {
                            @*<td><a href="@(this.Context.Request.Path)?selectedOption=@this.TempData["SelectedOption"]&make=restore&id=@employee.Id" class="btn btn-success">Restore</a></td>*@

                            <td>
                                <button type="submit" class="btn btn-success" name="id" value="@employee.Id">
                                    Restore
                                    <input type="text" style="visibility:hidden;position:absolute" name="operationToExec" value="Restore" />
                                </button>
                            </td>
                        }
                        else
                        {
                            @*<td><a href="@(this.Context.Request.Path)?selectedOption=@this.TempData["SelectedOption"]&make=delete&id=@employee.Id" class="btn btn-danger">Delete</a></td>*@

                            <td>
                                <button type="submit" class="btn btn-danger" name="id" value="@employee.Id">
                                    Delete
                                    <input type="text" style="visibility:hidden;position:absolute" name="operationToExec" value="Delete" />
                                </button>
                            </td>
                        }

                    </tr>

                </form>
                @*/POST*@
            }

        </tbody>
    </table>
</body>


<script>
    var selectChangeView = document.getElementById('selectChangeView');
    selectChangeView.value = @this.TempData["SelectedOption"];

    function changeView(item, baseUrl) {
        window.location.href = baseUrl + '?selectedOption=' + item.value;
    }
</script>