<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@using FastServices.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@model ICollection<FastServices.Web.ViewModels.Home.IndexViewModel>

<link rel="stylesheet" type="text/css" href="~/css/IndexViewCss.css" media="all" />


@if (!this.SignInManager.IsSignedIn(this.User))
{
    <div class="w3l_banner_info">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="slider-img">
                            <div class="slider_banner_info">
                                <div class="text">
                                    <h3 class="word wisteria">Fast Services Web!</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img-2">
                            <div class="slider_banner_info">
                                <div class="text">
                                    <h3 class="word wisteria">We Are The Best!</h3>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img-3">
                            <div class="slider_banner_info">
                                <div class="text">
                                    <h3 class="word wisteria">Enjoy Your Stay!</h3>
                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="topImageNav">
        <h1 class="titleText"> @("Departments".ToUpperInvariant()) </h1>
    </div>
}
<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
    <div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
        <div style="margin-top:1em;" class="container">
            <div class="row">
                @foreach (var department in @Model)
                {
                    <a asp-controller="Departments" asp-action="Department" asp-route-depId="@department.Id">
                        <div class="col-md-4 col-sm-12 w3_ban1">
                            <div class="card">
                                <img class="card-img-top" style="height: 225px; " src="@department.CardImgSrc" alt="Card image cap">
                                <div class="card-body" style="height: 170px">
                                    <h5 class="card-title">@department.Name</h5>
                                    @for (int i = 0; i < department.Rating; i++)
                                    {
                                        <i style="color:#FFB300;" class="fa fa-star" aria-hidden="true"></i>
                                    }
                                    <p class="card-text">@department.Description.</p>
                                    <a style="visibility:hidden"></a>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="~/js/IndexViewJs.js"></script>
